{{ define "main" }}

{{ .Content }}
{{ range site.RegularPages }}
<div class="my-5">
    <h2>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>

    <div style="display: flex; flex-direction: row; align-items: center;">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path>
            <path
                d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z">
            </path>
        </svg>
        <div class="date small">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </div>
    </div>

    <div>
        {{ .Description }}
    </div>
</div>

{{ end }}
{{ end }}
