{{ define "main" }}
<article>
		<span class="title">
            <h1>{{ .Title }}</h1>
		</span>

        <div>
            <h3>
                {{ if .Draft }} <span class="draft-label">DRAFT</span> ⋅ {{ end }}
                <time class="font-mono lighter">{{ dateFormat "2006-01-02" .Date }}</time>
                ⋅
                {{ range .Params.tags }}
                <a class="text-accent text-xl m" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </h3>
        </div>

    {{ .Content }}
</article>
{{ end }}
