@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
    height: 100%;
    font: 100%/1.5 sans-serif;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 1.5em;
}

@media (min-width: 768px) {
    html {
        font-size: 125%;
        max-width: 42em;
    }
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
    color: #333;
    color: rgb(var(--color-accent));
}


:root {
    --color-fill: 33, 39, 55;
    --color-text-base: 234, 237, 243;
    --color-accent: 255, 107, 1;
    --color-card: 52, 63, 96;
    --color-card-muted: 138, 51, 2;
    --color-border: 171, 75, 8
}

body {
    background-color: rgb(var(--color-fill));
    color: rgb(var(--color-text-base));
    font-family: JetBrains MonoVariable, monospace;
}

body a {
    color: rgb(var(--color-accent));
    max-width: 48rem;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: semi-bold;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    fill: rgb(var(--color-text-base));
}

.date {
    font-style: italic;
}

.medium {
    font-size: 1.125rem;
}

.small {
    font-size: 0.75rem;
    line-height: 1.25rem;
}
