{{ define "main" }}

    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range $paginator.Pages }}
    <div class="flex row post-list">
        <div class="pad-right">
            <time class="font-mono whitespace-nowrap lighter">{{ dateFormat "2006-01-02" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
        </div>

        <div class="lighter">
            <a href="{{ .RelPermalink }}">{{.Title}}</a>
        </div>
    </div>
    {{ end }}

{{ end }}
