<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body class="bg-white dark:bg-black">
    {{ partial "header.html" . }}

    <main class="list">
      {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
      {{ range $paginator.Pages }}

      <section class="list-item">
        <time class="date">{{ dateFormat "2006-01-02" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
        <a class="post-link" href="{{ .RelPermalink }}"> {{.Title}}</a>
      </section>
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
