<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body class="mx-auto w-full max-w-2xl font-sans text-white bg-light-background dark:bg-dark-background">
    {{ partial "header.html" . }}

    <main class="">
      {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
      {{ range $paginator.Pages }}

      <section class="">
        <time class="text-white font-mono">{{ dateFormat "2006-01-02" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
        <a class="post-link text-accent" href="{{ .RelPermalink }}"> {{.Title}}</a>
      </section>
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
